{% extends "base.html" %}

{% block linkto_employee_master %}{% endblock linkto_employee_master %}

{% block header %}
  <h1>{% block title %}Add Employee{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.empcd.label() }}
      {{ form.empcd() }}
      {% if form.empcd.errors %}<div>
        {% for error in form.empcd.errors %}<span>{{ error }}</span>{% endfor %}
      </div>{% endif %}
    </div><div>
      {{ form.name.label() }}
      {{ form.name() }}
      {% if form.name.errors %}<div>
        {% for error in form.name.errors %}<span>{{ error }}</span>{% endfor %}
      </div>{% endif %}
    </div><div>
      {{ form.desg.label() }}
      {{ form.desg() }}
      {% if form.desg.errors %}<div>
        {% for error in form.desg.errors %}<span>{{ error }}</span>{% endfor %}
      </div>{% endif %}
    </div><div>
      {{ form.dept.label() }}
      {{ form.dept() }}
      {% if form.dept.errors %}<div>
        {% for error in form.dept.errors %}<span>{{ error }}</span>{% endfor %}
      </div>{% endif %}
    </div>
    <div>{{ form.submit() }}</div>
  </form>
{% endblock content %}
