{% extends "base.html" %}

{% block linkto_employee_master %}{% endblock linkto_employee_master %}

{% block header %}
  <h1>{% block title %}Employee Master{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <div>
    <div><strong>Code : </strong>{{ employee.empcd }}</div>
    <div><strong>Name : </strong>{{ employee.name }}</div>
    <div><strong>Designation : </strong>{{ employee.designation }}</div>
    <div><strong>Department : </strong>{{ employee.department }}</div>
  </div>
  <div>
    <a href="{{ url_for('employee.master') }}">BOF</a>
    <a href="{{
      url_for('employee.prev', empcd=employee.empcd)
    }}">Previous</a>
    <a href="{{ url_for('employee.next', empcd=employee.empcd) }}">Next</a>
    <a href="{{ url_for('employee.eof') }}">EOF</a>
  </div>
  <div>
    <a href="{{ url_for('employee.create') }}">Add</a>
    <a href="{{ url_for('employee.update', empcd=employee.empcd) }}">Edit</a>
    <form action="{{ url_for('employee.delete', empcd=employee.empcd) }}" method="post">
      <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
  </div>
{% endblock content %}
