{% extends "base.html" %}

{% block linkto_employee_master %}{% endblock linkto_employee_master %}

{% block header %}
  <h1>{% block title %}Employee Master{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <div>
    <strong>Code</strong> : {{ employee.empcd }}<br />
    <strong>Name</strong> : {{ employee.name }}<br />
    <strong>Designation</strong> : {{ employee.designation }}<br />
    <strong>Department</strong> : {{ employee.department }}<br />
  </div>
  <div>
    <a href="{{ url_for('masters.employee_master') }}">BOF</a>
    <a href="{{
      url_for('masters.employee_prev', empcd=employee.empcd)
    }}">Previous</a>
    <a href="{{
      url_for('masters.employee_next', empcd=employee.empcd)
    }}">Next</a>
    <a href="{{ url_for('masters.employee_eof') }}">EOF</a>
  </div>
  <div>
    <a href="{{ url_for('masters.employee_create') }}">Create</a>
  </div>
{% endblock content %}
