{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Log In{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.password.label() }}
      {{ form.password() }}
      {% if form.password.errors %}
        <div>
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div>{{ form.submit() }}</div>
  </form>
{% endblock content %}
