<!doctype html>
<html>

<head>
  <title>{% block title %}{% endblock title %} - Leave</title>
</head>

<body>

<nav>
  <h1>Leave</h1>
  <ul>
    <!-- We shall override the following blocks to contain nothing
         when rendering that particular page. We don't need a link
         to a page we're already in. However, logout doesn't need
         to be overridden at anytime. -->
    {% block linkto_index %}
      <li><a href="{{ url_for('index') }}">Index</a></li>
    {% endblock linkto_index %}
    {% if g.logged_in %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</body>
</html>
